// giga
// mega
// kilo

// alpha
// beta
// gamma
// delta
// epsilon
// zeta

$giga-size:    64px;
$alpha-size:   32px;

$beta-size:    24px;
$gamma-size:   18px;
$delta-size:   16px;
$epsilon-size: 15px;
$zeta-size:    14px;
