/**
 * Base
 *
 * @author: Rutger Laurman - lekkerduidelijk.nl
 */

 html {
   box-sizing: border-box;
 }

 *,
 *::before,
 *::after {
   box-sizing: inherit;
 }

html {
  font-size: 62.5%;
  min-height: 100%;
  position: relative;
}

// Base text color
html, button, input, select, textarea {
  color: $text-color;
}

// Base font size
body {
  @include font-family-base;
  background-color: $body-bg;
  color: $text-color;
  font-size: $font-size-base;
  line-height: $line-height-base;
}

// Links
a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    color: $link-hover-color;
    text-decoration: underline;
  }

  &:focus {
    @include tab-focus;
  }
}

h1,h2,h3,h4,h5,h6 {
  @include font-family-heading;
}

figure {
  margin: 0;
}
img {
  vertical-align: middle;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

// Text selection color
::selection {
  background-color: #cec8b9;
}
