/**
 * Type
 *
 * @author: Rutger Laurman - lekkerduidelijk.nl
 */

// Font weights
@mixin font-weight-regular() { font-weight: 400; }
@mixin font-weight-bold()    { font-weight: 700; }

// 40 20 18 16 14 12

// Font size variables
$giga-size:    40px;
$alpha-size:   20px;
$beta-size:    18px;
$gamma-size:   16px;
$delta-size:   14px;
$epsilon-size: 12px;

// Font size mixins
@mixin giga    { font-size: $giga-size;   }
@mixin alpha   { font-size: $alpha-size;   }
@mixin beta    { font-size: $beta-size;    }
@mixin gamma   { font-size: $gamma-size;   }
@mixin delta   { font-size: $delta-size;   }
@mixin epsilon { font-size: $epsilon-size; }

// Base and heading font
@mixin font-family-base() {
  @include font-weight-regular;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
}

@mixin font-family-heading() {
  @include font-weight-bold;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
}

@mixin font-family-handwritten() {
  @include font-weight-regular;
  font-family: 'Caveat', "Times New Roman", serif;
}
